<%- include('partials/header', {pageTitle: 'Virtual Library' }) %>

    <link rel="stylesheet" href="../css/addBook.css">

    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form id="add-book-form">
                    <label for="name">Título:</label><br>
                    <input type="text" id="name" name="name"><br>

                    <label for="description">Descrição:</label><br>
                    <input type="text" id="description" name="description"><br>

                    <label for="author">Autor:</label><br>
                    <input type="text" id="author" name="author"><br>

                    <label for="year">Ano:</label><br>
                    <input type="text" id="year" name="year"><br>

                    <label for="publisher">Editora:</label><br>
                    <input type="text" id="publisher" name="publisher"><br>

                    <label for="genre">Genero:</label><br>
                    <input type="text" id="genre" name="genre"><br>

                    <label for="pagecount">Quantidade de páginas:</label><br>
                    <input type="text" id="pagecount" name="pagecount"><br>

                    <label for="lang">Idioma:</label><br>
                    <select id="lang" name="lang" required>
                        <option value="">Selecione um idioma...</option>
                        <option value="PT-BR">Português</option>
                        <option value="EN-US">Inglês</option>
                        <option value="ES-ES">Espanhol</option>
                        <option value="FR-FR">Francês</option>
                        <option value="DE-DE">Alemão</option>
                        <option value="IT-IT">Italiano</option>
                        <option value="JA-JP">Japonês</option>
                        <option value="KO-KR">Coreano</option>
                        <option value="ZH-CN">Chinês</option>
                    </select><br>

                    <input type="submit" value="Enviar">
                </form>
            </div>
        </div>
    </div>

    <script src="../js/updateBook.js"></script>