.book-count {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: aqua;
}
.book-item {
    position: relative;
    cursor: pointer;
}

.book-item img {
    border: 2px solid #128c7e;
    border-radius: 5px;
    width: 150px;
    height: 200px;
    transition: transform 0.3s ease;
}

.book-title {
    width: 150px;
    white-space: normal;
    word-wrap: break-word;
    color: #1ae9d1;
}

.book-item img:hover,
.book-title:hover {
    transform: scale(1.1);
}

hr {
    height: 2px;
    background-color: #128c7e;
    margin: 20px 0;
}

.book-details {
    margin-top: 10px;
}

.book-details h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.book-details p {
    font-size: 14px;
    margin-bottom: 3px;
}


.pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.pagination .page-link {
    color: #fff;
    background-color: #0c534b;
    border: 2px solid #128c7e;
    padding: 8px 16px;
    margin: 0 5px;
    border-radius: 10px;
    transition: all 0.3s ease;
    font-weight: bold;
    text-decoration: none;
}

.pagination .page-link:hover {
    background-color: #128c7e;
}

.pagination .page-item.active .page-link {
    background-color: #19b6a4;
    border-color: #0c534b;
}

.pagination .disabled .page-link {
    color: #aaa;
    pointer-events: none;
}

.pagination .page-link:focus {
    box-shadow: none;
    outline: none;
}

input[type="text"] {
    background-color: #0a4b43;
    color: #18beab;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
}

.badge:hover{
    transform: scale(1.1);
}