
.add-book-container {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 200px;
}
.form-title {
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
}
.input-group {
    margin-bottom: 20px;
}
.form-control {
    border-radius: 5px;
}
.btn-primary {
    border-radius: 5px;
    background-color: #128c7e;
    color: #ffffff;
}
.btn-primary:hover {
    background-color: #0c534b;
    color: #128c7e;
}

.poster {
    border: 2px solid #128c7e;
    border-radius: 5px;
    width: 150px;
    height: 200px;
}
.poster:hover{
    transform: scale(1.1);
}

